.mat-toolbar{
    width: 85%;
    margin: 0 auto;
    background-color: #f1f1f1;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.mat-card{
    background-color: transparent;
}

.formulario{
    width: 70%;
    min-width: 450px;
    margin: 0 auto;
}

.ancho-input {
    width: 90%;
}