<!-- <pre>
    {{ clientes | json }}
</pre> -->

<section class="clientes">
    <mat-card class="card" *ngFor="let cliente of clientes">
        <mat-card-title>{{cliente.nombre}}</mat-card-title>
        <!-- <mat-card-header>
            Nombre: {{cliente.nombre}}
        </mat-card-header> -->
        <mat-card-content>
            Correo: {{cliente.correo}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>
                Solicitar
            </button>
            <button mat-flat-button>
                Pagar
            </button>
            <button mat-flat-button>
                <mat-icon>remove_red_eye</mat-icon> 
            </button>
        </mat-card-actions>
    </mat-card>
</section>