// section.clientes {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;

//     .card {
//         margin: 5px;
//         min-height: 180px;
//         min-width: 400px;
//         max-width: 400px;
//         height: 100%;
//     }
    
//     button {
//         width: 80px;
//         border: 1px solid #000;
//         margin-right: 15px;
//     }
// }

.mat-toolbar{
    width: 85%;
    margin: 0 auto;
    background-color: #f1f1f1;
    // align-items: center;
    // justify-content: center;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-top: 10px;
  }

  .iconos-tabla a{
      cursor: pointer;
      margin-right: 10px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

