<mat-toolbar>
    <span>Módulo Clientes</span>
    <div class="espacio-derecha"></div>
    <button mat-raised-button (click)="goTo('clientes/nuevo')">NUEVO</button>
</mat-toolbar>
<mat-form-field appearance="standard">
    <mat-label>Filtros</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Juan Perez" #input autocomplete="off">
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <!-- Cedula Column -->
        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cedula </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>

        <!-- Monto solicitado Column -->
        <ng-container matColumnDef="valor_solicitado">
            <th mat-header-cell *matHeaderCellDef> Monto solicitado </th>
            <td mat-cell *matCellDef="let element"> ${{element.valor_solicitado}}.00 </td>
        </ng-container>

        <!-- Fecha de pago Column -->
        <ng-container matColumnDef="fecha_pagar">
            <th mat-header-cell *matHeaderCellDef> Fecha de pago </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_pagar}} </td>
        </ng-container>

        <!-- Estatus Column -->
        <ng-container matColumnDef="estado_credito">
            <th mat-header-cell *matHeaderCellDef> Estatus </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="(element.estado_credito === false && element.solicitado === true)">Rechazado</span>
                <span *ngIf="(element.estado_credito === false && element.solicitado === false)">Sin solitar</span>
                <span *ngIf="(element.estado_credito === true)">Aprobado</span>
            </td>
        </ng-container>

        <!-- Pago Column -->
        <ng-container matColumnDef="pago_credito">
            <th mat-header-cell *matHeaderCellDef> Adeudo </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="(element.adeudo === false)">Sin deudas</span>
                <span *ngIf="(element.adeudo === true)">Con deudas</span>
            </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: right;" class="iconos-tabla">
                <a matTooltip="Ver detalle" (click)="openDialog(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
                <a *ngIf="(element.solicitado == true && element.estado_credito === true && element.adeudo === false)" (click)="openDialogInput(element)"
                    matTooltip="Solicitar prestamo">
                    <mat-icon>refresh</mat-icon>
                </a>
                <a *ngIf="(element.solicitado == false)" (click)="solicitarPrestamo(element)"
                    matTooltip="Solicitar prestamo">
                    <mat-icon>refresh</mat-icon>
                </a>
                <a (click)="pagarPrestamo(element)" *ngIf="(element.adeudo == true)" matTooltip="Pagar">
                    <mat-icon>check_circle</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>